<div class="row clearfix">
    <div class="col-md-6 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <img ng-show="!editing" class="img-responsive img-rounded" ng-src="{{Band.picture}}" />

            </div>
        </div>
        <!--
        <div class="row clearfix">
            <div class="col-md-12 column">
                Video Goes Here...
                <img alt="140x140" src="http://lorempixel.com/140/140/" />
            </div>
        </div>
            -->
    </div>
    <div class="col-md-6 column">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>
                    Name: <span ng-show="!editing">{{Band.name}}</span>
                    <input ng-show="editing" type="text" ng-model="Edit.name" />
                </h2>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>
                    Year: <span ng-show="!editing">
                        {{Band.year}}
                    </span>
                    <input ng-show="editing" type="text" ng-model="Edit.year" />
                </h2>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2>
                    Description
                </h2>
                <p>
                    <span ng-show="!editing">
                        {{Band.description}}
                    </span>
                    <input type="text" ng-show="editing" ng-model="Edit.description" />
                    <div ng-show="editing"><h2>Picture</h2><input type="text" ng-model="Edit.picture" /></div>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-3 column" ng-show="!editing">
        <button type="button" ng-click="editing=true" class="btn btn-default btn-block">Edit</button>
    </div>
    <div class="col-md-3 column" ng-show="editing">
        <button type="button" class="btn btn-default btn-block" ng-click="Delete()">Delete</button>
    </div>
    <div class="col-md-3 column" ng-show="editing">
        <button type="button" class="btn btn-default btn-block" ng-click="Update()">Save</button>
    </div>
    <div class="col-md-3 column" ng-show="editing">
        <button type="button" class="btn btn-default btn-block" ng-click="editing=false">Cancel</button>
    </div>
</div>
