
<input type="number" ng-model="howMany" ng-init="howMany=20" />
<h1>{{message}}</h1>
<table class="table table-bordered table-hover table-striped table-responsive">
    <thead><tr><th ng-click="sort='name'">Name</th><th ng-click="sort='year'">Year</th><th>Description</th></tr></thead>
    <tr ng-repeat="Band in Bands | filter:search | orderBy: sort | limitTo: howMany " ng-click="showDetails(Band)">
        <td>{{Band.name}}</td>
        <td>{{Band.year}}</td>
        <td>{{Band.description | Snippet}}</td>
    </tr>
</table>